body {
  background-color: #23252b;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 8px 5px;
}
p {
  max-width: 500px;
  padding: 5px 10px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  background-color: darkcyan;
  align-self:inherit;
  font-size: 13px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  word-break: break-all;
  transition: 0.3s;
}
